html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
  direction: rtl;
}

.pricing-header {
  max-width: 750px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

#store-title { background-color: rgba(0,123,255,0.3);}

#facts { direction: rtl; }
#facts, #facts li { text-align: right; }
#facts { font-size: 1em; ;}
#facemask-img { max-width: 30%; }

#header-1 { background-color: rgba(0,123,255,0.3) }
#header-1 + .card-body > h1 { color: rgba(0,123,255); }

#header-2 { background-color: rgba(40,167,69,0.3); }
#header-2 + .card-body > h1 { color: rgba(40,167,69); }

#header-3 { background-color: rgba(52,58,61,0.3); }
#header-3 + .card-body > h1 { color: rgba(52,58,61); }
